{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }}
    Blog Listing
{% endblock %}

{% block body %}
    <h4>Articles List</h4>
    This template will host list of articles

{% endblock %}
